@import '~antd/dist/antd.css';

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2 {
  color: #6b6b6b
}

.main-content, .main-content-for-functional {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 1000px;
}

.main-content > div > div {
  border: 1px solid lightgrey;
  padding: 10px;
  margin-top: 20px;
}

.ant-divider {
  margin: 15px 0;
}

.ant-tooltip-inner {
  width: fit-content
}

blockquote {
	background:		#f9f9f9;
	border-left:	10px solid #ccc;
	margin:			1.5em 10px;
	padding:		.5em 10px;
	quotes:			"\201C""\201D""\2018""\2019";
}

blockquote p {
	display:		inline;
}

.functional-settings-item {
}

.functional-settings-item > div {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.ant-badge {
  padding-right: 10px;
  padding-left: 10px;
}