@import '~antd/dist/antd.css';

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2 {
  color: #6b6b6b
}

.main-content, .main-content-for-functional {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 1000px;
}

.main-content > div > div {
  border: 1px solid lightgrey;
  padding: 10px;
  margin-top: 20px;
}

.ant-divider {
  margin: 15px 0;
}

.ant-tooltip-inner {
  width: fit-content
}

blockquote {
  font-size: 15px
}

blockquote p {
}

.functional-settings-item {
}

.functional-settings-item > div {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.ant-badge {
  padding-right: 10px;
  padding-left: 10px;
}

.ant-list-item-main {
  flex-direction: column
}

.ant-list-item-action {
  margin-left: 0px;
}

.ant-collapse-header {
  color: #61dafb !important;
  padding: 0 0 12px 0 !important;
  text-align: left;
}
.ant-collapse-header > i {
  display: none !important;
}
.ant-collapse-content-box {
  padding: 0 !important;
  display: flex;
}

.function-item-panel {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.function-item-main-panel {
  width: 100%;
  display: flex
}

.function-item-title {
  width: 45%;
}
.function-item-sub-panel {
  width: 50%;
}